In [1]:
import pandas as pd
import numpy as np
import re
import time

In [2]:
df = pd.read_csv('../data/combined_labeled_df.csv')

In [3]:
df.head()

,user_id,tweet,state,likes,retweet_count,avg_polarity,label
0,8.436472e+06,"#Trump: As a student I used to hear for years,...",Oregon,2.0,1.0,0.461917,-1
1,4.741380e+07,You get a tie! And you get a tie! #Trump ‘s ra...,District of Columbia,4.0,3.0,0.000000,0
2,1.138416e+09,@CLady62 Her 15 minutes were over long time ag...,California,2.0,0.0,-0.323204,1
3,5.404769e+08,One of the single most effective remedies to e...,Pennsylvania,0.0,0.0,0.366371,-1
4,1.243315e+18,#Trump #PresidentTrump #Trump2020LandslideVict...,California,3.0,5.0,0.513350,-1

#### Apply Lower Case

In [4]:
df['tweet'] = df['tweet'].apply(lambda x: str(x).lower())
df.head()

,user_id,tweet,state,likes,retweet_count,avg_polarity,label
0,8.436472e+06,"#trump: as a student i used to hear for years,...",Oregon,2.0,1.0,0.461917,-1
1,4.741380e+07,you get a tie! and you get a tie! #trump ‘s ra...,District of Columbia,4.0,3.0,0.000000,0
2,1.138416e+09,@clady62 her 15 minutes were over long time ag...,California,2.0,0.0,-0.323204,1
3,5.404769e+08,one of the single most effective remedies to e...,Pennsylvania,0.0,0.0,0.366371,-1
4,1.243315e+18,#trump #presidenttrump #trump2020landslidevict...,California,3.0,5.0,0.513350,-1

#### Remove Hashtags

In [5]:
df['tweet'] = df['tweet'].apply(lambda x: re.sub('#', ' ', x))
df.head()

,user_id,tweet,state,likes,retweet_count,avg_polarity,label
0,8.436472e+06,"trump: as a student i used to hear for years,...",Oregon,2.0,1.0,0.461917,-1
1,4.741380e+07,you get a tie! and you get a tie! trump ‘s ra...,District of Columbia,4.0,3.0,0.000000,0
2,1.138416e+09,@clady62 her 15 minutes were over long time ag...,California,2.0,0.0,-0.323204,1
3,5.404769e+08,one of the single most effective remedies to e...,Pennsylvania,0.0,0.0,0.366371,-1
4,1.243315e+18,trump presidenttrump trump2020landslidevict...,California,3.0,5.0,0.513350,-1

#### Counting Frequency

In [6]:
def freq(tweet, word): 
    tweet = tweet.split()          
    return tweet.count(word)

In [7]:
freq(df.iloc[0].tweet, 'censorship')

0

#### Defining word list based on Preotiuc-Pietro et al.

In [8]:
text_file = open("../data/combined.txt", "r")
words = text_file.read().split(', ')

In [9]:
unique_words = []

for w in words:
    if w not in unique_words:
        unique_words.append(w)
        
len(unique_words)

335

In [10]:
for w in unique_words:
    df[w] = df['tweet'].apply(lambda x: freq(x, w))

df.head()

,user_id,tweet,state,likes,retweet_count,avg_polarity,label,president,freedom,violence,...,devotion,counteveryvote,voteresponsibly,teamtrump,hunterbidenemails,respectful,presidenttrump,landslide,tie,victory
0,8.436472e+06,"trump: as a student i used to hear for years,...",Oregon,2.0,1.0,0.461917,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.741380e+07,you get a tie! and you get a tie! trump ‘s ra...,District of Columbia,4.0,3.0,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.138416e+09,@clady62 her 15 minutes were over long time ag...,California,2.0,0.0,-0.323204,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5.404769e+08,one of the single most effective remedies to e...,Pennsylvania,0.0,0.0,0.366371,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.243315e+18,trump presidenttrump trump2020landslidevict...,California,3.0,5.0,0.513350,-1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [11]:
df.to_csv('../data/frequency_new.csv')

## Quick Start Here

In [2]:
df = pd.read_csv('../data/frequency_new.csv')

#### Setting up data frames

In [3]:
df2 = pd.get_dummies(df, columns=['label'])
state_perc = df2[['state','label_-1','label_0','label_1']].groupby('state').mean()
state_perc.sort_values('label_1', ascending=False)

                          label_-1   label_0   label_1
state
Northern Mariana Islands  0.000000  0.000000  1.000000
Vermont                   0.327670  0.163835  0.508495
Pennsylvania              0.319932  0.209088  0.470980
Oregon                    0.381533  0.150697  0.467770
Wisconsin                 0.313824  0.220736  0.465440
Massachusetts             0.353246  0.192491  0.454263
Delaware                  0.309904  0.239617  0.450479
Virginia                  0.356086  0.194490  0.449424
Illinois                  0.346671  0.205254  0.448076
South Carolina            0.352308  0.200000  0.447692
South Dakota              0.329412  0.223529  0.447059
Montana                   0.365325  0.191950  0.442724
Maryland                  0.352839  0.204595  0.442566
New York                  0.337679  0.221706  0.440615
North Dakota              0.329764  0.233405  0.436831
Kansas                    0.351816  0.213193  0.434990
Idaho                     0.379427  0.187184  0.433390
California                0.347080  0.220053  0.432867
Iowa                      0.359857  0.207838  0.432304
District of Columbia      0.329233  0.239696  0.431072
Louisiana                 0.339196  0.231993  0.428811
Minnesota                 0.373436  0.199230  0.427334
Missouri                  0.333041  0.243646  0.423313
Oklahoma                  0.343387  0.236659  0.419954
Tennessee                 0.360764  0.219579  0.419657
Washington                0.368825  0.211855  0.419319
Kentucky                  0.366217  0.215756  0.418027
Michigan                  0.357186  0.226699  0.416115
Georgia                   0.358396  0.226280  0.415324
North Carolina            0.346659  0.238721  0.414620
Texas                     0.347327  0.244881  0.407792
Indiana                   0.304438  0.289182  0.406380
Mississippi               0.413127  0.181467  0.405405
New Hampshire             0.346633  0.249377  0.403990
New Mexico                0.341365  0.255020  0.403614
Colorado                  0.353309  0.243888  0.402803
Arizona                   0.362683  0.235164  0.402153
Maine                     0.330377  0.270510  0.399113
Alabama                   0.367925  0.233753  0.398323
Wyoming                   0.343066  0.259124  0.397810
Alaska                    0.407708  0.194726  0.397566
West Virginia             0.341772  0.260759  0.397468
New Jersey                0.324071  0.278821  0.397109
Nevada                    0.352101  0.252101  0.395798
Florida                   0.336565  0.274743  0.388692
Rhode Island              0.338816  0.273026  0.388158
Ohio                      0.292914  0.323228  0.383858
Hawaii                    0.363636  0.254079  0.382284
Connecticut               0.331046  0.309605  0.359348
Arkansas                  0.327842  0.313015  0.359143
Nebraska                  0.366430  0.276596  0.356974
Utah                      0.322017  0.380213  0.297769

In [4]:
X = df.drop(['tweet','avg_polarity', 'label'], axis=1)
y = df[['state', 'label']]

In [5]:
# X_train = X[X['state'].isin(
#     ['Vermont', 'Oregon', 'Massachusetts', 
#      'Delaware', 'Virginia', 'Mississippi',
#      'Alaska', 'Idaho', 'Alabama'
#     ])].drop('state', axis=1)
# y_train = y[y['state'].isin(
#     ['Vermont', 'Oregon', 'Massachusetts', 
#      'Delaware', 'Virginia', 'Mississippi',
#      'Alaska', 'Idaho', 'Alabama'
#     ])]['label']

X_train = X[~X['state'].isin(['Michigan', 'Wisconsin', 'Pennsylvania'])].drop('state', axis=1)
y_train = y[~y['state'].isin(['Michigan', 'Wisconsin', 'Pennsylvania'])]['label']

X_test = X[X['state'].isin(['Michigan', 'Wisconsin', 'Pennsylvania'])].drop('state', axis=1)
y_test = y[y['state'].isin(['Michigan', 'Wisconsin', 'Pennsylvania'])]['label']

In [6]:
from sklearn import preprocessing

scaler = preprocessing.StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

#### Logistic Regression

In [7]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(solver='saga', max_iter=100, 
                        C=0.9, dual=False,
                        penalty='elasticnet', l1_ratio=0.25, 
                        random_state=42, n_jobs=-1, verbose=True)
lr.fit(X_train, y_train)

lr.score(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.

max_iter reached after 182 seconds

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
[Parallel(n_jobs=-1)]: Done   1 out of   1 | elapsed:  3.0min finished

0.5652921471556043

In [8]:
lr.score(X_test, y_test)

0.5588476690741957

#### Gradient Boosting

In [9]:
from sklearn.ensemble import GradientBoostingClassifier

gbk = GradientBoostingClassifier(loss='deviance', n_estimators=40, 
                                 subsample=0.4, n_iter_no_change=5,
                                 max_depth=10, random_state=42, verbose=2)
gbk.fit(X_train, y_train)

gbk.score(X_train, y_train)

      Iter       Train Loss      OOB Improve   Remaining Time
         1           1.0401           0.0290            4.93m
         2           1.0151           0.0245            4.97m
         3           0.9943           0.0202            4.76m
         4           0.9754           0.0165            4.68m
         5           0.9608           0.0143            4.50m
         6           0.9480           0.0123            4.41m
         7           0.9353           0.0108            4.26m
         8           0.9256           0.0090            4.16m
         9           0.9156           0.0081            4.00m
        10           0.9069           0.0071            3.88m
        11           0.9008           0.0063            3.75m
        12           0.8944           0.0057            3.63m
        13           0.8879           0.0052            3.51m
        14           0.8804           0.0046            3.37m
        15           0.8775           0.0046            3.26m
        16           0.8722           0.0039            3.12m
        17           0.8660           0.0038            3.01m
        18           0.8639           0.0033            2.88m
        19           0.8593           0.0033            2.76m
        20           0.8538           0.0033            2.64m
        21           0.8523           0.0027            2.51m
        22           0.8450           0.0024            2.39m
        23           0.8433           0.0030            2.25m
        24           0.8406           0.0026            2.13m
        25           0.8375           0.0023            2.00m
        26           0.8327           0.0025            1.87m
        27           0.8308           0.0019            1.75m
        28           0.8278           0.0022            1.61m
        29           0.8246           0.0023            1.48m
        30           0.8211           0.0017            1.35m
        31           0.8210           0.0016            1.22m
        32           0.8182           0.0017            1.09m
        33           0.8167           0.0018           57.36s
        34           0.8116           0.0020           49.29s
        35           0.8113           0.0014           41.18s
        36           0.8091           0.0014           33.01s
        37           0.8068           0.0012           24.86s
        38           0.8053           0.0012           16.61s
        39           0.8038           0.0010            8.32s
        40           0.8035           0.0012            0.00s

0.6368422612871669

In [10]:
gbk.score(X_test, y_test)

0.5867531188443861

#### Decision Tree

In [11]:
from sklearn.tree import DecisionTreeClassifier

dtree = DecisionTreeClassifier(criterion='gini', splitter='best',
                                 max_depth=9, random_state=42)
dtree.fit(X_train, y_train)

dtree.score(X_train, y_train)

0.5334123854978804

In [12]:
dtree.score(X_test, y_test)

0.5168253447143795

#### Decision Tree + AdaBoost

In [13]:
from sklearn.ensemble import AdaBoostClassifier

adaboost = AdaBoostClassifier(dtree, n_estimators=250, 
                              random_state=42)
adaboost.fit(X_train, y_train)

adaboost.score(X_train, y_train)

0.806492159013429

In [14]:
adaboost.score(X_test, y_test)

0.5044320420223244

#### Random Forest

In [15]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(criterion='entropy', n_estimators=100,
                                max_depth=15, random_state=42, 
                                n_jobs=-1, verbose=True)
forest.fit(X_train, y_train)

forest.score(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    6.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   17.8s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.7s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    1.5s finished

0.5932054664571784

In [16]:
forest.score(X_test, y_test)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.1s finished

0.564510833880499

#### Neural Network

In [17]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(25, 100), activation='logistic', 
                    random_state=42, max_iter=40, 
                    solver='adam', verbose=True)
mlp.fit(X_train, y_train)

mlp.score(X_train, y_train)

Iteration 1, loss = 0.89549410
Iteration 2, loss = 0.85549962
Iteration 3, loss = 0.84911710
Iteration 4, loss = 0.83976989
Iteration 5, loss = 0.81633766
Iteration 6, loss = 0.79730943
Iteration 7, loss = 0.78725092
Iteration 8, loss = 0.78174151
Iteration 9, loss = 0.77658372
Iteration 10, loss = 0.77326633
Iteration 11, loss = 0.77061209
Iteration 12, loss = 0.76820301
Iteration 13, loss = 0.76611689
Iteration 14, loss = 0.76403443
Iteration 15, loss = 0.76268177
Iteration 16, loss = 0.76081461
Iteration 17, loss = 0.75949045
Iteration 18, loss = 0.75830834
Iteration 19, loss = 0.75688003
Iteration 20, loss = 0.75535302
Iteration 21, loss = 0.75474411
Iteration 22, loss = 0.75334764
Iteration 23, loss = 0.75262311
Iteration 24, loss = 0.75140893
Iteration 25, loss = 0.75073052
Iteration 26, loss = 0.74991037
Iteration 27, loss = 0.74908884
Iteration 28, loss = 0.74808340
Iteration 29, loss = 0.74735503
Iteration 30, loss = 0.74681729
Iteration 31, loss = 0.74605187
Iteration 32, loss = 0.74553467
Iteration 33, loss = 0.74472435
Iteration 34, loss = 0.74418569
Iteration 35, loss = 0.74344733
Iteration 36, loss = 0.74289561
Iteration 37, loss = 0.74233226
Iteration 38, loss = 0.74190832
Iteration 39, loss = 0.74116967
Iteration 40, loss = 0.74064360

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (40) reached and the optimization hasn't converged yet.
  warnings.warn(

0.653692230160377

In [18]:
mlp.score(X_test, y_test)

0.5972586999343401

#### Combined, Voting Classifier

In [19]:
from sklearn.ensemble import VotingClassifier

voting = VotingClassifier(estimators=[('Logistic', lr), 
                                      ('Gradient Boosting', gbk), 
                                      ('DTree', dtree), 
                                      ('AdaBoost', adaboost), 
                                      ('Random Forest', forest),
                                      ('Neural NetWork', mlp)],
                          voting='soft', n_jobs=-1, verbose=True)
voting.fit(X_train, y_train)

voting.score(X_train, y_train)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.4s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.8s finished

0.6541784009723416

In [20]:
voting.score(X_test, y_test)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.1s finished

0.5881483913328956

#### Overall testing accuracy

In [21]:
print('Logistic Regression: ', lr.score(X_test, y_test))
print('Gradient Boosting: ', gbk.score(X_test, y_test))
print('Decision Tree: ', dtree.score(X_test, y_test))
print('AdaBoost: ', adaboost.score(X_test, y_test))
print('Random Forest: ', forest.score(X_test, y_test))
print('Neural Network: ', mlp.score(X_test, y_test))
print('Voting: ', voting.score(X_test, y_test))

Logistic Regression:  0.5588476690741957
Gradient Boosting:  0.5867531188443861
Decision Tree:  0.5168253447143795
AdaBoost:  0.5044320420223244
Random Forest:  0.564510833880499
Neural Network:  0.5972586999343401

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.1s finished

Voting:  0.5881483913328956

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.1s finished

### Calculating Final Vote Margins

In [27]:
y_hat = mlp.predict(X_test)

In [28]:
y_df = df[['state', 'label']]
y_df = y_df[y_df['state'].isin(['Michigan', 'Wisconsin', 'Pennsylvania'])]
y_df['Prdiction'] = y_hat

#### Percent Matching for each label (better than overall accuracy?)

In [29]:
y_df['Matched'] = y_df['Prdiction'] == y_df['label']

y_df.groupby('label').mean()['Matched']

label
-1    0.418599
 0    0.687096
 1    0.683916
Name: Matched, dtype: float64

#### State Margins

In [25]:
y_df1 = pd.get_dummies(y_df['Prdiction'])
y_df1['state'] = y_df['state']

In [31]:
(y_df1.groupby('state').mean()[1] - 0.5) * 100

state
Michigan        6.343957
Pennsylvania    6.342016
Wisconsin       8.751394
Name: 1, dtype: float64